# This is an example of a .env file for a Next.js application.
# You can rename this file to .env and fill in the values as needed.
# Im using backend as supabase and frontend as nextjs

NEXT_PUBLIC_SUPABASE_URL=https://your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key